
*{
    position: absolute;
    padding: 0;
    margin:0;
    box-sizing: border-box;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0,1.16,.77,.75);
}
body, html{
    width: 100vw;
    height: 100%;
}
#shadow{
    mix-blend-mode: hard-light;
    background: radial-gradient(red, yellow);
    width: 20vw;
    height: 20vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;

}
body{
    pointer-events: none;
    background: linear-gradient(#f2162d 80%, #f05565)
}
#overlay{
    width: 100vw;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(texture.png);
    background-size: contain;
    mix-blend-mode: hard-light;
    pointer-events: none;
    z-index: 1000;
    opacity: 0.5;
}
.char{
    /*background: linear-gradient(#ff0c26, #ff0097)*/
}
.char_last_ani{
    background: linear-gradient(#ff9a86,#f6180b)
}
.char_line{
    transition-property: all;
    /*transition-duration: 1.6s;*/
    transition-timing-function: cubic-bezier(0,1.16,.77,.75);
    border: 0.2vw
}
.timing_1{
    z-index: 10;
    transition-duration: 1.6s;
        border: 1vw solid rgb(255, 28, 12);
}
.timing_2{
    z-index: 9;
    transition-duration: 3.4s;
        border: 1vw solid #994b2d;
}
.timing_3{
    z-index: 8;
    transition-duration: 6s;
        border: 1vw solid #667044;
}
.timing_4{
    z-index: 7;
    transition-duration: 10s;
        border: 1vw solid #33965a;
}
.timing_5{
    z-index: 6;
    transition-duration: 14.2s;
        border: 1vw solid #00bb71;
}
.return{
    transition-duration: 10s;
}
.han_1 .timing_1{
        border: 1.8vw solid rgb(255, 28, 12);
}
.han_1 .timing_2{
        border: 1.8vw solid yellow;
}
.han_1 .timing_3{
        border: 1.8vw solid green;
}
.han_1 .timing_4{
        border: 1.8vw solid blue;
}
.han_1 .timing_5{
        border: 1.8vw solid purple;
}
.b_1, .b_2{
    transition-duration: 1.6s;
    transition-timing-function: cubic-bezier(0,1.16,.77,.75);

    width: 100%;
    height: 100%;
    top: 0%;
}
#whole_wrapper{
    width: calc(110.9vw - 6px);
    height: 110.9vw;
    overflow: visible;
    position: absolute;
    left: 3px;
    top: 3px;
    z-index: 50;
}
.han_1{
    width: 10%;
    height: 50%;
    top: 0%;
    left: 0
}
.han_2{
    width: 10%;
    height: 40%;
    top: 0%;
    left: 20%
}
.han_3{
    width: 20%;
    height: 20%;
    top: 30%;
    left: 10%
}
.gul_1{
    z-index: 10;
    width: 10%;
    height: 30%;
    top: 10%;
    left: 30%
}
.gul_2{
    overflow: visible;
    z-index: 100;
    width: 10%;
    height: 40%;
    top: 40%;
    left: 30%
}
.sil_1{
    width: 20%;
    height: 40%;
    top: 0%;
    left: 40%;
}
.sil_2{
    width: 10%;
    height: 10%;
    top: 0%;
    left: 60%;
    background: none
}
.sil_3{
    width: 10%;
    height: 50%;
    top: 20%;
    left: 60%;
}
.sil_3_animate{
    left: 30%;
    top: 30%
}
.sil_3_animate_2{
    left: 30%;
    top: 30%
}
.hum_1{
    width: 10%;
    height: 30%;
    left: 70%;
    top: 0%
}
.hum_2{
    width: 10%;
    height: 30%;
    left: 80%;
    top: 0%
}
.hum_3{
    width: 10%;
    height: 40%;
    left: 80%;
    top: 30%
}
.p_1{
    width: 30%;
    height: 40%;
    left: 0;
    top: 70%; 
}
.b_1_animate{
transform: rotate(90deg);
top: -50%;
transform-origin: 33% 75%;
}
.b_2_animate{
transform: rotate(-90deg);
top: -50%;
transform-origin: 66% 75%;
}
.p_2{
    width: 30%;
    height: 10%;
    left: 0;
    top: 110%;
    background: none
}
.ro_1{
    width: 10%;
    height: 50%;
    top: 70%;
    left: 40%
}
.ro_2{
    width: 30%;
    height: 10%;
    left: 20%;
    top: 120%
}
.jek_1{
    overflow: hidden;
    width: 10%;
    height: 30%;
    top: 80%;
    left: 50%
}
.jek_2{
    width: 10%;
    height: 10%;
    left: 60%;
    top: 100%;

    background: none
}
.jek_3{
    width: 10%;
    height: 10%;
    left: 60%;
    top: 110%;

    background: none
}
.t_1{
    width: 10%;
    height: 40%;
    top: 70%;
    left: 70%
}
.t_2{
    width: 20%;
    height: 10%;
    top: 110%;
    left: 70%
}


.char_line{
        border-radius:0.9vw;
        /*border:0.9vw solid rgb(207, 238, 105);*/
        box-sizing: border-box;
    }



    /**/
    /**/
    /**/
.han_1_1:nth-child(1){
        box-shadow: 0px -1px 2px 1px #ff989887, inset 0px 1px 2px #89299f7d, inset 0px -1px 8px #ffffff9e,0px 1px 2px #89299f7d}
.han_1_1{
        width: 100%;
        height: 20%;
        top: 20%;
        left: 0;

        box-sizing: border-box;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
        border-radius: 50%;
    }
.han_1_1_animate{
        top: 0;
}
.han_1_2{
        width: 100%;
        height: 0%;
        top: calc(40% - 1.8vw);
        left: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0
    }
.han_1_2_animate{
        height: 20%;
        top: 0;

        border-radius: 500px !important;
        border: 1.8vw solid  rgb(207, 238, 105) !important;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%) !important;
    }
.han_1_3{
        width: 100%;
        height: 20%;
        top: 40%;
        left: 0;

        border-radius:50%;
        border: 1.8vw solid rgb(255, 28, 12);
        /*box-shadow: inset 0px 1px 15px #89299f7d, inset 0px -1px 8px #ffffff9e,0px 1px 2px #89299f7d*/
    }
.han_1_3_animate{
        top: 0;
}


/*han_2*/
.han_2_1{
    width: 0;
    height: 50%;
    top: 50%;
    left: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}
.han_2_1_animate{
    height: 100%;
    top: 0
}
.han_2_2{
    width: 100%;
    height: 0%;
    left: 0;
    top: 75%;
    -webkit-clip-path: polygon(17% -50%, 150% -50%, 150% 150%, 17% 150%);
}
.han_2_3{
    width: 100%;
    height: 0%;
    left: 0;
    top: 75%;
    -webkit-clip-path: polygon(17% -50%, 150% -50%, 150% 150%, 17% 150%);
}
.han_2_3_animate{
    top: 33.33%
}



/*han_3*/
.han_3_1{
    left: -50%;
    top: 0;
    height: 50%;
    width: 0%;

    border-top-right-radius: 0
}
.han_3_1_animate{
    left: -50%;
    height: 100%;
}
.han_3_2{
    left: -50%;
    top: 50%;
    height: 0%;
    width: 50%;
    margin-top: -0.9vw;

    border-top-right-radius: 0
}
.han_3_2_animate{
    left: -50%;
    width: 50%;
    top: 100%;
}
.gul_1_1{
    top: 66%;
    left: 0;
    width: 100%;
    z-index: 100;
    -webkit-clip-path: polygon(-50% -50%, 100% -50%, 79% 150%, -50% 150%);
}
.gul_1_1_animate{
    top: 0;
}
.gul_1_1_shadow{
    height: 66%;
    width: 100%;
    left: 0;
    top: 66%

}
.gul_1_2{
    top: 66%;
    left: 0;
    width: 100%;
    height: 0;
    position: absolute;
    background: url(img/round.png) left/auto 100% no-repeat;
}
.char_1 .ver{
    width: 1.9vw !important;
    background: red;
    box-shadow: -1px -1px 2px -2px #ffa1a1bd, 1px 1px 2px 2px #6d1a8a2b, inset 0px 0px 2px #ffffff9e;
}
.char_1 .hor{
    height: 1.9vw !important;
    background: red;
    box-shadow: 0px -1px 2px 1px #ff8f8f87, 0px 1px 2px #89299f7d, inset 0px 0px 1px #ffffff9e;
}
.gul_1_3 {
    right: 0;
    top: 66%;
    /*width: 4.6vw;*/
    height: 33%;
}
.gul_1_3_animate{
    height: 100%;
    top: 0
}
.gul_2_1{
    left: 0;
    top: 0;
    width: 100%;
    height: 1.9vw;
    z-index: 100;
    -webkit-clip-path: polygon(-50% -50%, 100% -50%, 79% 150%, -50% 150%);
}
.gul_2_2{
    height: 25%;
    width: 1.9vw;
    left: calc(100% - 1.9vw);
    top: 0;
}
.gul_2_2_animate{
    height: 50%
}
.gul_2_3{
    left: 0;
    width: 100%;
    height: 1.9vw;
    top: 25%;
    margin-top: -1.4vw;
    -webkit-clip-path: polygon(-20% -50%, 70% -50%, 130% 150%, 30% 150%);
    z-index: 10
}
.gul_2_3_animate{
    top: 50%;
}
.gul_2_4{
    height: 25%;
    width: 0;
    left: 0;
    top: 25%;
    margin-top: -1.4vw;
}
.gul_2_4_animate{
    top: 50%;
    height: 50%
}
.gul_2_5{
    left: 0;
    width: 100%;
    height: 1.9vw;
    top: 50%;
    margin-top: -2.8vw;
    background: red;
    z-index: 100;
    -webkit-clip-path: polygon(30% -50%, 150% -50%, 150% 150%, -30% 150%);
}
.gul_2_5_animate{
    top: 100%;
}
.sil_1_1{
    width: 50%;
    height: 0%;
    top: 0%;
    left: -0.9vw;
    transform:scaleY(1.118) rotate(-63deg);
    transform-origin: right top
}
.sil_1_3{
    width: 0%;
    height: 0%;
    top: 0%;
    left: 50%;
    transform-origin: right top;
}
.sil_1_5{
    width: 0%;
    height: 0%;
    top: 1.4vw;
    left: 50%;
    margin-left: -0.9vw
}
.sil_1_5_animate{
    height: 75%
}
.sil_1_1_animate{
    top: 75%;
}
.sil_1_3_animate{
    left: -0vw;
    width: 100%;
    top: 75%;
}
.sil_1_2,.sil_1_4{
    width: 50%;
    height: 0%;
    top: 0%;
    left: calc(50% + 0.9vw);
    transform:scaleY(1.118) rotate(63deg);
    transform-origin: left top
}
.sil_1_2_animate{
    top: 75%;
}
.sil_1_4_animate{
    transform:scaleY(1) rotate(0deg);
    top: 75%;
}
.sil_2_1{
    height: 100%;
    width: 0;
    left: calc(100% - 1.8vw);
    top: 0;
}
.sil_3_1{
    left: 0;
    width: 100%;
    height: 0;
    top: 20%;
    z-index: 100;
    -webkit-clip-path: polygon(-50% -50%, 100% -50%, 79% 150%, -50% 150%);
}
.sil_3_1_animate{
    top: 0%
}
.sil_3_2{
    height: calc(20% + 1.8vw);
    width: 0;
    right: 0;
    top: 20%;
}
.sil_3_2_animate{
    top: 0%;
    height: 60%
}
.sil_3_3{
    left: 0;
    width: 100%;
    height: 0;
    top: 40%;
    -webkit-clip-path: polygon(-20% -50%, 70% -50%, 130% 150%, 30% 150%);
    z-index: 10;
}
.sil_3_3_animate{
    top: 60%;
}
.sil_3_4{
    height: calc(20% + 1.8vw);
    width: 0;
    left: 0;
    top: 40%;
}
.sil_3_4_animate{
    top: 60%;
    height: 40%
}
.sil_3_5{
    left: 0;
    width: 100%;
    height: 0;
    top: 60%;
    z-index: 100;
    margin-top: 0vw;
    -webkit-clip-path: polygon(30% -50%, 150% -50%, 150% 150%, -30% 150%);
}
.sil_3_5_animate{
    top: 100%;
    margin-top: -1.4vw
}


.hum_1_1{
        width: 100%;
        height: 33%;
        top: 33%;
        left: 0;

        border: 1.8vw solid rgb(207, 238, 105);
        box-sizing: border-box;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
        border-radius: 50%;
    }
.hum_1_1_animate{
        top: 0;
}
/*.hum_1_2{
        width: 100%;
        height: 0%;
        top: calc(66% - 1.4vw);
        left: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0
    }
.hum_1_2_animate{
        height: 33%;
        top: 0;

        border-radius: 500px !important;
        border: 1.8vw solid rgb(207, 238, 105) !important;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%) !important;
    }*/
.hum_1_3{
        width: 100%;
        height: 33%;
        top: 66%;
        left: 0;

        border-radius:50%;
        border: 1.8vw solid rgb(255, 28, 12);
        /*box-shadow: inset 0px 1px 15px #89299f7d, inset 0px -1px 8px #ffffff9e,0px 1px 2px #89299f7d*/
    }
.hum_1_3_animate{
        top: 0;
}
.hum_2_1{
    top: 66%;
    left: 0;
    height: 0;
    width: 100%
}
.hum_2_1_animate{
    top: 16.6%
}
.hum_2_2{
    left: calc(100% - 1.4vw);
    top: 33%;
    width: 0;
    height: 66%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}
.hum_2_2_animate{
    top: 0;
    height: 100%
}


.hum_3_1{
    top: 0;
    left: 0;
    width: 100%;
    height: 0
}

.hum_3_2{
    top: 0%;
    left: 0%;
    width: 0%;
    height: 20%
}
.hum_3_2_animate{
    height: 60%;
    top: 40%
}
.hum_3_3{
    top: 20%;
    margin-top: -0.7vw;
    width: 100%;
    height: 0;
    left: 0;
    border-top-right-radius: 0
}
.hum_3_3_animate{
    top: 40%;
}
.hum_3_4{
    width: 0;
    height: 20%;
    top: 0;
    left: calc(100% - 1.4vw);
}
.hum_3_4_animate{
    top: 0;
    height: 40%
}
.hum_3_5{
    top:20%;
    margin-top: -0.7vw;
    width: 100%;
    height: 0;
    left: 0;
    border-top-right-radius: 0
}
.hum_3_5_animate{
    top: 100%;
}
.p_1_1{
    background: linear-gradient(to right, rgb(255, 231, 0), red 31.93%);
    width: 66%;
    height: 0;
    left: 0;
    top: 75%
}
.p_1_2{
    background: linear-gradient(to right, rgb(255, 231, 0), red 31.93%);
    width: 66%;
    height: 0;
    left: 0;
    top: calc(100% - 1.4vw)
}
.p_1_3{
    width: 0%;
    height: 25%;
    left: calc(33% - 0.9vw);
    top: 75%;
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 89%, 0 89%);
    z-index: 10
}
.p_1_4{
    width: 0%;
    height: 25%;
    left: calc(66% - 0.9vw);
    top: 75%;
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 89%, 0 89%);
    z-index: 10
}
.p_1_5{
    width: 66%;
    height: 0;
    left: 33%;
    top: 75%
}
.p_1_6{
    width: 66%;
    height: 0;
    left: 33%;
    top: calc(100% - 1.4vw)
}
.p_1_7{
    width: 0%;
    height: 25%;
    left: calc(33% - 0.9vw);
    top: 75%;
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 89%, 0 89%);
    z-index: 10
}
.p_1_8{
    width: 0%;
    height: 25%;
    left: calc(66% - 0.9vw);
    top: 75%;
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 89%, 0 89%);
    z-index: 10
}
.p_2_1{
    width: 100%;
    top: calc(100% - 1.8vw);
    left: 0;
    height: 0;
}
.ro_1_1{
    left: 0;
    width: 100%;
    height: 0;
    top: 40%;
    z-index: 10;
    -webkit-clip-path: polygon(-50% -50%, 100% -50%, 79% 150%, -50% 150%);
}
.ro_1_1_animate{
    top: 0
}
.ro_1_2{
    height: 20%;
    width: 0;
    right: 0;
    top: 40%;
}
.ro_1_2_animate{
    top: 0;
    height: 40%;
}
.ro_1_3{
    left: 0;
    width: 100%;
    height: 0;
    top: calc(60%  - 1.9vw);
    -webkit-clip-path: polygon(-20% -50%, 70% -50%, 130% 150%, 30% 150%);
    z-index: 10; 
}
.ro_1_3_animate{
    top: 60%
}
.ro_1_4{
    height: calc(20% + 1.9vw);
    width: 0;
    left: 0;
    top: calc(60% - 1.9vw);
}
.ro_1_4_animate{
    top: 60%;
    height: 40%
}
.ro_1_5{
    left: 0;
    width: 100%;
    height: 0;
    top: 1.8vw;
    margin-top: -1.8vw;
    z-index: 100;
    -webkit-clip-path: polygon(30% -50%, 150% -50%, 150% 150%, -30% 150%);
}
.ro_1_5_animate{
    top:  1.8vw;
}
.ro_2_1{
    left: 66%;
    top: calc(-100% - 0.9vw);
    width: 0;
    height: 100%
}
.ro_2_1_animate{
    top: -100%;
    height: 200%
}
.ro_2_2{
    left: 33%;
    top: 0;
    width: 66%;
    height: 0;
    margin-top: 0;
}
.ro_2_2_animate{
    left: 0%;
    width: 100%;
    top: 100%;
    margin-top: -1.8vw
}
.ro_2_3{
    left: 33%;
    top: 0;
    margin-top:0vw;
    width: 33%;
    height: 0;
    transform: rotate(0deg);
    transform-origin:left;

}
.ro_2_3_animate{
    transform: rotate(-90deg);
    top: 100%;
    margin-top: -1.8vw;
}
.jek_1_1{
    width: 118%;
    height: 0%;
    top: 66%;
    transform-origin: right top;
    left: calc(-59% - 0.9vw);
}
.jek_1_1_animate{
    top: 0;
    transform: rotate(-63deg);
}
.jek_1_2{
    width: 118%;
    height: 0%;
    top: 66%;
    transform-origin: left top;
    left: calc(59% + 0vw);
}
.jek_1_2_animate{
    top: 0;
    transform: rotate(63deg);
}
.jek_1_3{
    width: 118%;
    height: 0%;
    top: 66%;
    left: calc(-59% - 0.9vw);
    transform: rotate(-63deg);
    transform-origin: right top
}
.jek_1_3_animate{
    top: 0;
}
.jek_1_4{
    width: 118%;
    height: 0%;
    top: 66%;
    left: calc(59% + 0vw);
    transform: rotate(63deg);
    transform-origin: left top
}
.jek_1_4_animate{
    top: 0;
}
.jek_2_1{
    width: 50%;
    left: 0;
    height: 0;
    top: calc(50% - 1vw);
    -webkit-clip-path: polygon(-50% -50%, 85% -50%, 85% 150%, -50% 150%);
    z-index: 10;
}
.jek_2_2{
    left: calc(50% - 0.9vw);
    height: 100%;
    top: 0;
    width: 0
}
.jek_2_3{
    left: calc(100% - 1.8vw);
    height:100%;
    top: 0;
    width: 0
}
.jek_3_1{
    width: 100%;
    left: 0;
    top: 0;
    height: 0
}
.jek_3_2{
    width: 0%;
    left: calc(100% - 1.4vw);
    top: 0;
    height: 100%
}
.t_1_1{
    width: 100%;
    height: 0;
    left: 0;
    top:50%;
    -webkit-clip-path: polygon(0% -50%, 150% -50%, 150% 150%, 25% 150%);
    z-index: 10;
}
.t_1_2{
    width: 100%;
    height: 0;
    left: 0;
    top: 75%;
    -webkit-clip-path: polygon(16% -50%, 150% -50%, 150% 150%, 16% 150%);
    z-index: 10;
}
.t_1_3{
    width: 100%;
    height: 0;
    left: 0;
    top: calc(100% - 1.8vw);
    -webkit-clip-path: polygon(25% -50%, 150% -50%, 150% 150%, 0% 150%);
    z-index: 10;
}
.t_1_4{
    width: 0%;
    height: 50%;
    left: 0;
    top:50%;
}
.t_1_1_animate{
    top: 0
}
.t_1_2_animate{
    top: 50%;
}
.t_1_3_animate{
    top: 100%
}
.t_1_4_animate{
    height: 100%;
    top: 0;
}
.t_2_1{
    width: 50%;
    left: 0;
    height: 0;
    top: calc(100% - 1.8vw)
}
.t_2_1_animate{
    width: 100%
}
.glow_top{
    opacity: 0.6;
    height: 2vw;
    background: linear-gradient(#010094, white 22.69%, rgba(255, 255, 255, 0.16) 67.65%, rgba(255, 255, 255, 0))
}
.glow_bottom{
    opacity: 0.6;
    height: 2.5vw;
    transform: scaleY(-1);
    transform-origin: top;
    background: linear-gradient(rgba(118, 206, 255, 0.56), rgb(37, 223, 205) 15.13%, rgb(44, 220, 255) 28.15%, rgba(239, 239, 239, 0))}
.glow_bottom_1{
    top: 30%;
    width: 10%;
    left: 10%
}
.glow_bottom_2{
    top: 20%;
    width: 10%;
    left: 60%
}
.glow_bottom_3{
    top: 70%;
    width: 30%;
    left: 0%
}
.glow_bottom_4{
    top: 120%;
    width: 10%;
    left: 30%
}
.glow_bottom_5{
    top: 80%;
    width: 10%;
    left: 50%
}
.glow_bottom_6{
    top: 110%;
    width: 10%;
    left: 80%
}
.glow_top_1{
    display: none;
    left: 0;
    top: 50%;
    width: 30%;
}
.glow_top_2{
    left: 40%;
    top: 40%;
    width: 20%;
}
.glow_top_3{
    left: 70%;
    top: 30%;
    width: 10%;
}
.glow_top_4{
    left: 30%;
    top: 70%;
    width: 10%;
}
.glow_top_5{
    left: 0;
    top: 110%;
    width: 30%;
}
.glow_top_6{
    left: 20%;
    top: 130%;
    width: 30%;
}
.glow_top_7{
    left: 50%;
    top: 110%;
    width: 10%;
}
.glow_top_8{
    left: 70%;
    top: 120%;
    width: 20%;
}
.innershadow_bottom{
    opacity: 0.6;
    height: 2vw;
    background: linear-gradient(#010094, rgba(0, 0, 147, 0.42745098039215684) 26.89%, rgba(1, 0, 148, 0));
    transform: scaleY(-1);
    transform-origin: top;
}
.innershadow_top{
    opacity: 0.6;
    height: 2vw;
    background: linear-gradient(#010094, rgba(0, 0, 147, 0.42745098039215684) 26.89%, rgba(1, 0, 148, 0));
    /*transform: scaleY(-1);
    transform-origin: top;*/
}
.innershadow_left{
    opacity: 0.1;
    width: 1.5vw;
    transform: translateX(-100%);
    background: linear-gradient(to left, #010094, rgba(0, 0, 147, 0.42745098039215684) 26.89%, rgba(1, 0, 148, 0));
}
.innershadow_left_1{
    height: 50%;
    left: 0;
    top: 0
}
.innershadow_left_2{
    height: 30%;
    left: 20%;
    top: 0
}
.innershadow_left_3{
    height: 20%;
    left: 30%;
    top: 50%
}
.innershadow_left_4{
    height: 30%;
    left: 60%;
    top: 40%
}
.innershadow_left_5{
    height: 40%;
    left: 80%;
    top: 30%
}
.innershadow_right{
    opacity: 0.1;
    width: 1.5vw;
    background: linear-gradient(to right, #010094, rgba(0, 0, 147, 0.42745098039215684) 26.89%, rgba(1, 0, 148, 0));
    /*transform: scaleX(-1);*/
    transform-origin: left;
}
.innershadow_right_1{
    left: 10%;
    top: 0;
    height: 30%
}
.innershadow_right_2{
    left: 40%;
    top: 40%;
    height: 30%
}
.innershadow_right_3{
    left: 60%;
    top: 0;
    height: 20%
}
.innershadow_right_4{
    left: 70%;
    top: 30%;
    height: 40%
}
.innershadow_right_5{
    left: 90%;
    top: 0;
    height: 70%
}
.innershadow_bottom_1{
    left: 0%;
    top: 50%;
    width: 30%;
}
.innershadow_bottom_2{
    left: 40%;
top: 60%;
transform: rotate(-33deg);
width: 38%;
transform-origin: left bottom;
}
.innershadow_bottom_3{
    left: 40%;
    top: 40%;
    width: 20%;
}
.innershadow_bottom_4{
    left: 60%;
    top: 70%;
    width: 10%;
}
.innershadow_bottom_5{
    left: 70%;
    top: 30%;
    width: 10%;
}
.innershadow_bottom_6{
    left: 80%;
    top: 70%;
    width: 10%;
}
.innershadow_bottom_7{
    left: 0%;
    top: 110%;
    width: 30%;
}
.innershadow_bottom_8{
    left: 20%;
    top: 130%;
    width: 30%;
}
.innershadow_bottom_9{
    left: 50%;
    top: 110%;
    width: 10%;
}
.innershadow_bottom_10{
    left: 70%;
    top: 120%;
    width: 20%;
}
.innershadow_top_1{
    left: 0;
    top: 0;
    width: 10%
}
.innershadow_top_2{
    left: 10%;
    top: 30%;
    width: 10%
}
.innershadow_top_3{
    left: 20%;
    top: 0;
    width: 40%;
}
.innershadow_top_4{
    left: 0%;
    top: 70%;
    width: 30%;
}
.innershadow_top_5{
    left: 40%;
    top: 70%;
    width: 10%;
}
.innershadow_top_6{
    left: 50%;
    top: 80%;
    width: 10%;
}
.innershadow_top_7{
    left: 70%;
    top: 70%;
    width: 10%;
}
.innershadow_top_8{
    left: 80%;
    top: 110%;
    width: 10%;
}
.innershadow_top_9{
    left: 20%;
    top: 120%;
    width: 20%;
}
.bg_black{
    /*background: black*/
}

.blocker{
    position: absolute;
    /*background: linear-gradient(#ff0c26, #ff0097);*/
    z-index: 100
}
.blocker_1{
    width: 10%;
    height: 30%;
    left: 10%;
    top: 0
}
.blocker_2{
    width: 10%;
    height: 20%;
    left: 60%;
    top: 0;
}
.blocker_3{
    width: 30%;
    height: 20%;
    left: 0%;
    top: 50%;
}
.blocker_4{
    width: 20%;
    height: 30%;
    left: 40%;
    top: 40%;
}
.blocker_5{
    width: 10%;
    height: 40%;
    left: 70%;
    top: 30%;
}
.blocker_6{
    width: 20%;
    height: 20%;
    left: 0%;
    top: 110%;
}
.blocker_7{
    width: 10%;
    height: 20%;
    left: 60%;
    top: 0;
}
.blocker_8{
    width: 10%;
    height: 10%;
    left: 20%;
    top: 110%;
}
.blocker_9{
    width: 10%;
    height: 50%;
    left: 30%;
    top: 70%;
}
.blocker_10{
    width: 10%;
    height: 10%;
    left: 50%;
    top: 70%;
}
.blocker_11{
    width: 10%;
    height: 20%;
    left: 50%;
    top: 110%;
}
.blocker_12{
    width: 10%;
    height: 60%;
    left: 60%;
    top: 70%;
}
.blocker_13{
    width: 10%;
    height: 10%;
    left: 70%;
    top: 120%;
}
.blocker_14{
    width: 10%;
    height: 40%;
    left: 80%;
    top: 70%;
}
.blocker_15{
    width: 10%;
    height: 10%;
    left: 80%;
    top: 120%;
}
.blocker_16{
    width: 100vw;
    height: 3px;
    left: -3px;
    top: -3px
}
.blcoker_17{
    width: 100vw;
    height: 3px;
    left: -3px;
    top: -3px
}
.blcoker_18{
    width: 100vw;
    height: 100%;
    left: -3px;
    top: -3px
}
.blcoker_19{
    width: 100vw;
    height: 3px;
    left: -3px;
    top: -3px
}